<h1>Welcome, <%=@user.username%></h1>
<%if !@user.recipes.empty?%>
    <h3>You have <%=@users.recipes.count%> recipes!</h3>
    <form method="get" action='/recipes'>
        <label for="recipes">Lets make another recipe</label><br>
        <input type="submit" value="Recipes">
    </form>
<%else%>
    <form method="get" action='/recipes'>
        <label for="recipes">Lets make a recipe</label><br>
        <input type="submit" value="Recipes">
    </form>
<%end%>

<!--<p>Would you like to delete your profie?</p>
<form action="/users/<%=@user.id%>/edit" action="get">
    <input type="submit" value="Edit">
</form>
<form action="/users/<%=@user.id%>/delete" action="delete">
    <button type="delete">Delete</button>
</form>--!>