<h1>Edit Recipe</h1>
<form method="post" action="/recipes">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="title">Recipe title:</label><br>
    <input type="text" name="title" value="<%=@recipe.title%>"><br>
    <label for="ingredients">Ingredients</label><br>
    <input type="textarea" name="ingredients" value="<%=@recipe.ingredients%>"><br>
    <label for="cook_time">Cook time:</label><br>
    <input type="text" name="cook_time" value="<%=@recipe.cook_time%>"><br>
    <input type="submit" value="Edit recipe">
</form>
<form method="get" action="/recipes/<%=@recipe.id%>/delete">
    <!--<input id="hidden" type="hidden" name="_method" value="DELETE">--!>
    <input type="submit" id="delete" value="Delete recipe">
</forn>