<h1>Welcome, <%=@user.username%></h1>
<h3>Here are some recipes</h3>

<div>
    <form method="get" action="/recipes/new">
        <input type="submit" value="Create Recipe">
    </form>
    <form method="get" action="/logout">
        <input type="submit" value="Log Out">
    </form>
</div>

<%if !@comments.empty?%>
    <%@comments.each do |comment|%>
        <div>
            <h4><a href="/recipes/<%=comment[0].id%>"><%=comment[0].title%></a></h4>
            <%if comment[1] %>
                <p><%=comment[1].comment%></p>
            <%end%>
        </div>
    <%end%>
<%end%>