<h1>Family Recipes</h1>
<h3>Welcome, please fill out all fields.</h3>
<form action="/users/show" method="post">
    <input type="text" name="username" value="User name"><br>
    <input type="text" name="email" value="Email address"><br>
    <input type="text" name="password" value="Password">
</form>