<h1>Edit Comment</h1>
<form method="post" action="/comments">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="comment">Comment</label><br>
    <input type="textarea" name="comment" value="<%=@comment.comment%>"><br>
    <input type="submit" value="Edit comment">
</form>
<form method="get" action="/comments/<%=@comment.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" id="delete" value="Delete comment">
</forn>