<h1>Edit Comment</h1>
<form method="post" action="/comments">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="comment">Comment</label><br>
    <input type="textarea" name="comment" value="<%=@comment.comment%>"><br>
    <input type="submit" value="Edit comment">
</form>