<div class="container">
  <header>
    <img src="images/corneal-small.png" class="img-responsive main-image">
    <form method="post" action="/users/login">
      <input name="username" type="text">
      <input type="password" name="password">
      <input type="submit" value="Sign in">
    </form>
    <form method='get' action='/users/new'>
      <input type='submit' value="New User">
    </form>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Family Recipies</h2>

    <div class="content">
      <p>Ever wondered how Mom made that?  Ever been asked how did you make that?<br>
         Here is where we come in.  With our web app you can add all your recipies to .....</p>
    </div>

  </div>
</div>
